/* TOTAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
}

/* PAGE */
body {
  background: black;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  height: 100vh;
  overflow: hidden;
}

/* GRID */
#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

/* LEFT SIDE */
#left {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

/* HEADER */
#header {
  margin-bottom: auto;
}

#title {
  font-size: 1.5rem;
  font-weight: 500;
}

#subtitle {
  font-size: 0.9rem;
  font-weight: 400;
}

/* TERMINAL INPUT */
#terminal {
  margin-top: auto;
}

#commandInput {
  width: 100%;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  caret-color: white;
}

/* RIGHT SIDE OUTPUT */
#right {
  padding: 16px;
  white-space: pre-wrap;
  overflow-y: auto;
  color: white;
}
