* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  margin: 0;
  background: #0b0b0b;
  color: #d6d6d6;
}

#container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 40% 60%;
  height: 100vh;
}

/* TOP LEFT */
#header {
  padding: 20px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}

/* BOTTOM LEFT */
#terminal {
  padding: 20px;
  border-right: 1px solid #333;
}

#commandInput {
  width: 100%;
  padding: 10px;
  background: black;
  border: 1px solid #333;
  color: #d6d6d6;
  font-size: 1rem;
}

/* RIGHT SIDE */
#output {
  grid-row: 1 / 3;
  padding: 20px;
  overflow-y: auto;
  background: #050505;
}

#output pre {
  white-space: pre-wrap;
  line-height: 1.4;
}
